html, body {
	height: 100%;
	background-color: #303330; /*dark grey*/
	font-family: "Segoe UI Light", Segoe UI, Arial Narrow, sans-serif;
	font-size: 24px;
	font-weight: lighter;
	color: #e7f2e6; /*white*/
	margin: 0px;
	padding: 0px;
}
.header {
	height: 147px;
	margin: 0px;
	padding: 0 20px;
}
.divider {
	height: 1px;
	background-color: #e7f2e6;
}
.container {
	width: 980px;
	height: calc(100% - 147px);
	padding: 0 20px;
}
.container>div {
	padding-top:23px;
}
.menu {
	float: left;
	width: 200px;
}
.content {
	width: 780px;
	display: inline-block;
	min-height: 100%;
	text-align: justify;
}
.icons {
	width: 130px;
}
h1 {
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 72px;
	margin: 0;
	margin-bottom: -20px;
	padding: 0;
}
h2 {
	color: #6df261; /*green*/
	font-size: 36px;
	font-weight: lighter;
	margin: 0;
	margin-bottom: 23px;
	padding: 0;
}
h3 {
	color: #6df261; /*green*/
	font-size: 30px;
	font-weight: lighter;
	margin: 0;
}
.links>a {
	display: block;
	font-size: 30px;
	text-decoration: none;
    transition-duration: 150ms;
	color: #e7f2e6;
}
.links>a:hover{
	color: #6df261;
}
#facebook {
	background: url("/Images/fb-reg.png");
}
#deviantart {
	background: url("/Images/da-reg.png");
}
#tumblr {
	background: url("/Images/tu-reg.png");
}
#twitter {
	background: url("/Images/tw-reg.png");
}
#facebook, #deviantart, #tumblr, #twitter {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 2px;
}
#facebook:hover {
	background: url("/Images/fb-hover.png");
}
#deviantart:hover {
	background: url("/Images/da-hover.png");
}
#tumblr:hover {
	background: url("/Images/tu-hover.png");
}
#twitter:hover {
	background: url("/Images/tw-hover.png");
}